
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <link href="~/Content/SubHomeStyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <meta name="viewport" content="width=device-width" />

    <title>Queue Index</title>
</head>
<body>
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Queue</h3>
        <ul>
            <li> <!--This routes to the Queue Controler and then finds the AddOne method-->
                <a href="@Url.Action("AddOne","Queue")"
                   class="w3-bar-item w3-button">Add One Item to Queue</a>
            </li>
            <li> <!--This routes to the Queue Controler and then finds the AddMany method-->
                <a href="@Url.Action("AddMany","Queue")"
                   class="w3-bar-item w3-button">Add Huge List of Items to Queue</a>
            </li>
            <li> <!--This routes to the Queue Controler and then finds the Display method-->
                <a href="@Url.Action("Display","Queue")"
                   class="w3-bar-item w3-button">Display Queue</a>
            </li>
            <li> <!--This routes to the Queue Controler and then finds the Delete method-->
                <a href="@Url.Action("Delete","Queue")"
                   class="w3-bar-item w3-button">Delete from Queue</a>
            </li>
            <li> <!--This routes to the Queue Controler and then finds the Clear method-->
                <a href="@Url.Action("Clear","Queue")"
                   class="w3-bar-item w3-button">Clear Queue</a>
            </li>
            <li> <!--This routes to the Queue Controler and then finds the Search method-->
                <a href="@Url.Action("Search","Queue")"
                   class="w3-bar-item w3-button">Search Queue</a>
            </li>
            <li> <!--This routes to the Queue Controler and then finds the Serach method-->
                <a href="@Url.Action("Return","Queue")"
                   class="w3-bar-item w3-button">Return to Main Menu</a>
            </li>
        </ul>
    </div>

    <div style="margin-left:26%">
        <p>@ViewBag.QueueSearch</p> <!--grabs data from the QueueSearch variable in the ViewBag-->
        <p>@ViewBag.StopWatch</p> <!--grabs data from the StopWatch variable in the ViewBag-->
        @if (ViewBag.MyQueue != null)
        {
            foreach (var sData in ViewBag.MyQueue) <!--grabs data from the MyQueue variable in the ViewBag-->
            {
                <p>@sData</p>
            }
        }
    </div>
</body>
</html>
